# Symfony specific
/vendor/
/bin/*
!/bin/healthcheck
!/bin/boot*
!/bin/console
!/bin/wait_for_db
/var/*
/composer.phar
docker/keys/*
docker/nginx/web/api.html
!.gitkeep
.php_cs.cache
.idea
.DS_Store
tests/_output
tests/_support/_generated
