# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: 'en'

imports:
    - { resource: ./../../src/Security/Resources/config/services.yaml }
    - { resource: ./services/upload.yaml }
    - { resource: ./actions/upload.yaml }
    - { resource: ./../../src/User/Resources/config/services.yaml }
    - { resource: ./../../src/Post/Resources/config/services.yaml }
    - { resource: ./../../src/Report/Resources/services.yaml }

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Symfony\Component\Serializer\Mapping\Factory\ClassMetadataFactoryInterface: '@serializer.mapping.class_metadata_factory'
    Symfony\Component\Serializer\NameConverter\NameConverterInterface: '@serializer.name_converter.camel_case_to_snake_case'

    request_annotation_resolver:
        class: 'App\Core\Http\Annotation\HttpAnnotationResolver'
        public: true
        arguments:
            - '@controller_resolver'
            - '@annotations.reader'

    App\DataFixture\ORM\:
        resource: '../fixtures/ORM'
        tags: ['doctrine.fixture.orm']

    App\Core\Doctrine\Flush:
        public: true

    App\Core\Doctrine\MigrationEventSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: 'default' }

    App\Core\EventListener\JsonRequestTransformerListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: 100 }

    App\Core\EventListener\KernelViewListener:
        arguments:
            - '@serializer'
            - '@request_annotation_resolver'
        tags:
            - { name: kernel.event_listener, event: kernel.view }

    App\Core\Http\PaginatorValueResolver:
        tags:
            - { name: controller.argument_value_resolver, priority: 1000 }

    App\Core\EventListener\DomainExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onDomainException }

    Symfony\Component\Serializer\Normalizer\PropertyNormalizer:
        tags: [ serializer.normalizer ]

    App\Core\Normalizer\CollectionNormalizer:
        tags: [ serializer.normalizer ]

    App\Core\Normalizer\CursorNormalizer:
        tags: [ serializer.normalizer ]

    App\Core\Normalizer\StringableObjectsNormalizer:
        tags: [ serializer.normalizer ]